
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
}

@media (max-width: 720px) {

  main {
    padding: 1em;
  }
}

.container {
  @apply max-w-xl mx-auto px-4;
  margin: 0 auto;
  padding: 0 1em;
  @apply max-w-xl mx-auto px-4;
}

.container-lg {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.container-xl {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}


/** Buttons */

.outlined-button {
  @apply bg-transparent border border-blue-500 text-blue-500 rounded hover:bg-blue-500 hover:text-white transition-colors;
  min-width: 7rem;
}