---
import Layout from '../layouts/Layout.astro';
import Card from '@components/Card.astro';
import Footer from '@components/Footer.astro';
import Services from '@sections/home/Services/Services.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Services />
	</main>
		<Footer />
</Layout>
