

    <section class="flex flex-col md:flex-row md:mx-auto mx-5 max-w-screen-md md:max-w-screen-xl gap-x-20 py-12">

        <div class="flex flex-col max-w-[500px] mb-12">
            <h1 class="text-2xl text-[#E2C077] font-normal py-4">About Exologic</h1>
            <h1 class="text-4xl font-normal py-4">We Stick <br>to what works</h1>
            <p class="text-lg font-extralight w-full">We are a software development and consulting house dedicated to transforming the way businesses leverage technology. With an initial team of four talented developers, we offer comprehensive solutions ranging from website development to specialized business modernization consulting.</p>
            <a href="#contact-us">
              <button
                class="border-[#1A1A99] border-2 py-2 px-4 mt-4 rounded-sm max-w-[143px] hover:bg-[#1A1A99] hover:text-white transition duration-300"
              >
                Contact us
              </button>
            </a>
        </div>
    
        <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
            <div class="grid gap-4">
                <div>
                    <img class="mt-24 max-w-full rounded-lg" src="../../public/assets/images/aboutUs/about-us-1.png" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="max-w-full rounded-lg" src="../../public/assets/images/aboutUs/about-us-2.png" alt="">
                </div>
                <div>
                    <img class="max-w-full rounded-lg" src="../../public/assets/images/aboutUs/about-us-3.png" alt="">
                </div>
            </div>
          </div>
    
    </section>
    