<section class="flex flex-col md:flex-row md:mx-auto mx-5 max-w-screen-md md:max-w-screen-xl gap-x-20 py-12">

    <div class="flex flex-col max-w-[500px] mb-12">
        <h1 class="text-4xl font-normal py-4">FAQs</h1>
        <p class="text-lg font-extralight w-full">Find answers to the most common questions about our services and how we can help you achieve your goals. If you can't find what you're looking for, don't hesitate to contact us!</p>
        <a href="#contact-us">
          <button
            class="border-[#1A1A99] border-2 py-2 px-4 mt-4 rounded-sm max-w-[143px] hover:bg-[#1A1A99] hover:text-white transition duration-300"
          >
            Contact us
          </button>
        </a>
    </div>

    <div class="flex flex-col gap-4 max-w-[770px] w-full">
      <div class="collapse collapse-plus bg-base-200 py-2 rounded-md">
        <input type="checkbox" />
        <div class="collapse-title text-lg font-medium">Click me to show/hide content</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
        <div class="collapse collapse-plus bg-base-200 py-2 rounded-md">
        <input type="checkbox" />
        <div class="collapse-title text-lg font-medium">Click me to show/hide content</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
        <div class="collapse collapse-plus bg-base-200 py-2 rounded-md">
        <input type="checkbox" />
        <div class="collapse-title text-lg font-medium">Click me to show/hide content</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
        <div class="collapse collapse-plus bg-base-200 py-2 rounded-md">
        <input type="checkbox" />
        <div class="collapse-title text-lg font-medium">Click me to show/hide content</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
        <div class="collapse collapse-plus bg-base-200 py-2 rounded-md">
        <input type="checkbox" />
        <div class="collapse-title text-lg font-medium">Click me to show/hide content</div>
        <div class="collapse-content">
          <p>hello</p>
        </div>
      </div>
  </div>

</section>