---
const today = new Date();
---

<footer class="flex flex-col bg-[#1A1A99]">
	<!-- &copy; {today.getFullYear()} Your name here. All rights reserved. -->

	<div class="flex flex-col">

		<!-- Menu, Logo and Social Links -->
		<div class="flex md:flex-row flex-col flex-1 md:gap-[90px] md:px-[125px] px-[51px] pt-[24px] md:pt-[5rem] justify-between">
			<img class="xs:h-full xs:w-full" src="../../public/assets/images/footer-logo.png" alt="" srcset="">
			<div class="flex gap-[24px] md:gap-[65px] md:py-[9px] py-[32px] px-[35px] justify-center items-center md:flex-row flex-col">
				<a href="#" class="menu-link active font-normal text-[#F3F5F7]">Home</a>
				<a href="#" class="menu-link font-normal ttext-[#F3F5F7]">Services</a>
				<a href="#" class="menu-link font-normal ttext-[#F3F5F7]">About</a>
				<a href="#" class="menu-link font-normal ttext-[#F3F5F7]">Contact Us</a>
			</div>
			<div class="flex justify-center md:justify-end items-center gap-x-3">
				<a href="#"><img class="h-6 w-6" src="../../public/assets/icons/ic_outline-email.png" alt="Email"></a>
				<a href="#"><img class="h-6 w-6" src="../../public/assets/icons/ic_baseline-whatsapp.png" alt="Whatsapp"></a>
				<a href="#"><img class="h-6 w-6" src="../../public/assets/icons/ic_linkedIn.png" alt="LinkedIn"></a>
			</div>
		</div>

		<!-- Divider -->
		<div class="flex mx-[20px] md:mx-[125px] bg-[#F3F5F7] h-[1px] justify-center items-center mt-[24px] md:mt-[40px]"></div>

		<!-- Copyright -->
		<div class="flex flex-col-reverse xs:mb-[18px] flex-1 gap-[24px] md:gap-[90px] md:px-[125px] px-[20px] my-[24px] justify-between md:flex-row flex-col">
			<p class="font-light mx-auto">&copy; {today.getFullYear()} All rights reserved.</p>
			<p class="font-light mx-auto">Designed by <span class="text-[#F3F5F7]">ExoDevs</span></p>
			<div class="flex gap-[24px] justify-end items-center gap-x-3 font-light md:flex-row flex-col">
				<a href="#"><p>Privacy Policy</p></a>
				<a href="#"><p>Terms of Service</p></a>
				<a href="#"><p>Cookies Settings</p></a>
			</div>
		</div>

	</div>
	

</footer>

<style>
.menu-link {
  text-decoration: none;
  padding: 0px 0px 10px 0;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.menu-link.active::after,
.menu-link:hover::after {
  background-color: #F3F5F7;
  height: 4px;
  border-radius: 10px 10px 0 0;
}

</style>

<script>
	const menuLinks = document.querySelectorAll('.menu-link');
		menuLinks.forEach(link => {
			link.addEventListener('click', function(this: HTMLElement): void {
				menuLinks.forEach(link => link.classList.remove('active'));
				this.classList.add('active');
			});
	});


</script>





