
<div class="main-container max-w-screen-md md:max-w-screen-2xl py-24 md:px-24 px-2">

    <div class="flex-flex-col ml-[24px] mb-[40px]">

        <div class="flex mb-[8px]">
            <img class="object-contain mr-[10px]" src="../../assets/icons/services/gold_integral.png">
            <p class="text-[#F3F5F7] text-[18px]">Our projects</p>
        </div>

        <h1 class="text-[40px]">Discover Our Successful <br>Projects</h1>
    </div>

    <div class="flex flex-col md:flex-row gap-[32px]">
      <!-- Card 1 -->
      <div class="card bg-base-100 max-w-screen-lg shadow-xl">
        <div class="card-body px-4 pt-8 pb-4">
          <h2 class="card-title text-3xl md:mb-[16px]">CoinSpotter</h2>
          <div class="flex flex-col gap-[16px] max-w-[924px]">
            <p>Asociada con Universidad Rafael Belloso Chacín</p>
            <p>
              Modern Web3 Application to find places that accept crypto near you. Built using Next.js (Pages Router), Tailwind, tRPC, Web3.js, Google Maps Platform, Prisma ORM. Bootstrapped with the Create-T3-App CLI.
            </p>
            <div class="flex gap-2 mt-6">
              <div class="badge bg-gray-600 px-2 py-3 md:text-sm text-xs">next.js</div>
              <div class="badge bg-[#E2C07733] text-[#E2C077] px-2 py-3 md:text-sm text-xs">tailwind css</div>
              <div class="badge bg-[#FFDE162B] text-[#FFDE16] px-2 py-3 md:text-sm text-xs">react.js</div>
              <div class="badge bg-[#FFDE162B] text-[#EAD09A] px-2 py-3 md:text-sm text-xs">metamask</div>
              <div class="badge bg-[#849CAE29] text-[#849CAE] px-2 py-3 md:text-sm text-xs">mysql</div>
            </div>
            <a href="https://coinspotter.vercel.app/" target="_blank" class="flex gap-2 items-center mt-4">
              <div class="text-sm">View project</div>
              <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.74 15.53L14.26 12L10.74 8.46997" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            <div class="flex flex-col max-w-[924px] bg-gray-700 p-4 rounded-xl">
              <h2 class="block pt-2 pb-4">MONEDAS Y APLICACIONES</h2>
              <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="rounded-xl p-6 shadow-xl duration-300 ease-in hover:scale-105">
                  <div class="grid grid-cols-2 items-center justify-center gap-4">
                    <div class="m-auto">
                      <img src="../../public/assets/images/busdlogo.png" width="64" height="64" alt="BUSD" />
                    </div>
                    <div class="flex flex-col items-center justify-center">
                      <h3>BUSD</h3>
                    </div>
                  </div>
                </div>
                <!-- Add more cards here -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card bg-base-100 md:max-w-[362px] shadow-xl">
        <figure class="p-4">
          <img src="../../public/assets/images/aurelian-acre.png" alt="Shoes" />
        </figure>
        <div class="card-body p-6">
          <div class="flex flex-col gap-[16px]">
            <p class="card-title text-3xl">Aurelian Acres</p>
            <p>A Roman-Themed Cookie-Clicker clone</p>
            <div class="flex gap-2">
              <div class="badge bg-gray-600 px-2 py-3 text-xs font-light">next.js</div>
              <div class="badge bg-[#E2C07733] text-[#E2C077] px-2 py-3 text-xs font-light">tailwind css</div>
              <div class="badge bg-[#FFDE162B] text-[#FFDE16] px-2 py-3 text-xs font-light">react.js</div>
            </div>
            <a href="https://coinspotter.vercel.app/" target="_blank" class="flex gap-2 items-center mt-4">
              <div class="text-sm">View project</div>
              <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.74 15.53L14.26 12L10.74 8.46997" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Card 3 -->
    <div class="card bg-base-100 max-w-screen-[1350px] shadow-xl mt-8 flex flex-col md:flex-row">    

      <div class="card-body px-6 pt-8 pb-4">
        <h2 class="card-title text-3xl md:mb-[16px]">Elzyra</h2>
        <div class="flex flex-col gap-[16px] max-w-[924px]">
          <p>Asociada con Star Gas</p>
          <p>
            ERP and Accounting solution with Orders tracking. I was the main developer behind its redesign.
          </p>
          <div class="flex gap-2 mt-3">
            <div class="badge bg-gray-600 px-2 py-3 text-sm">javascript</div>
            <div class="badge bg-[#E2C07733] text-[#E2C077] px-2 py-3 text-sm">sql</div>
            <div class="badge bg-[#FFDE162B] text-[#FFDE16] px-2 py-3 text-sm">cascading stylesheets (css)</div>
          </div>
          <div class="flex gap-2">
            <div class="badge bg-[#FFDE162B] text-[#EAD09A] px-2 py-3 text-sm">angular</div>
            <div class="badge bg-[#849CAE29] text-[#849CAE] px-2 py-3 text-sm">html</div>
          </div>
          <a href="https://coinspotter.vercel.app/" target="_blank" class="flex gap-2 items-center mt-4">
            <div class="text-sm">View project</div>
            <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M10.74 15.53L14.26 12L10.74 8.46997" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>      
        </div>
      </div>

      <figure class="p-4 max-w-[520px]">
        <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" class="rounded-md" />
      </figure>

    </div>

</div>

  <style>
    .main-container {
      background-color: #111417;
    }
  </style>
