---
const title = Astro.props.title || "Section Container";
const sectionName = Astro.props.sectionName || "section";
---

<section class="w-100 my-20 mx-1 xl:mx-32 lg:mx-20 md:mx-16 ">
  <div class='flex justify-start'>
    <img src='../../public/assets/icons/ic_section.png' class="max-w-10 mr-2.5">
    <h4 class='w-full text-heading-4'>
      {sectionName}
    </h4>
  </div>
  <div class="mt-2 mb-10">
    <h2 class='text-heading-2'>
      {title}
    </h2>
  </div>
  <slot />
</section>
